/* 

font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 

*/
body {
    padding: 60px 80px 130px 130px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 30px 272px 0px 130px;
    background-color: #f9f9f9;
}

.logo {
    cursor: pointer;
}

ul {
    display: flex;
    gap: 55px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #3D37F1;
    font-weight: bold;
    text-decoration: none;
}

.ui-service {
    display: flex;
    flex-direction: column;
    max-width: 635px;
    gap: 40px;
}

ul li a {
    color: #3D37F1;
}

ul li a:hover {
    color: #1E1A7B;
}

section {
    margin-top: 370px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}   

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 78px;
    color: #534D4D;
    font-weight: bold;
    line-height: 100px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #534D4D;
}

.Wave-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 38px;
    width: 263.67px;
    height: 76.77px;
    background-color: #3D37F1;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    cursor: pointer;

}

.Wave-me:hover {
    background-color: #5537F1;
}

.Wave-me::before {
    content:url(../assets/imgs/waving-hand.png);
    margin-right: 30px;
}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 360px;
    gap: 20px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3D37F1;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #5A5454;
}

h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    max-width: 712px;
    color: #747474;
    line-height: 30px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px 70px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 88px;
    margin-top: 70px;
    width: 370px;
    height: 450px;
}

.icon {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 55px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 28px;
    width: 307px;
    line-height: 27px;
    text-align: center;
}

.read-more {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    width: 130px;
    height: 45px;
    border-radius: 23px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.read-more:hover {
    background-color: #ffffff;
    color: #4B647E;
}

.card1 {
    background-image: linear-gradient(to top, #DFA871, #FBBA77);
}

.read1 {
    background-color: #DFA871;  
}

.card2 {
    background-image: linear-gradient(to top, #2293B7, #41EAE3);
}

.read2 {
    background-color: #2293B7;
}

.card3 {
    background-image: linear-gradient(to top, #463864, #69529F);
}

.read3 {
    background-color: #463864;
}

.card4 {
    background-image: linear-gradient(to top, #0962C5, #4386D2);
}

.read4 {
    background-color: #0962C5;
}

.card5 {
    background-image: linear-gradient(to top, #564FD6, #A5A2F6);
}

.read5 {
    background-color: #564FD6;
}

.card6 {
    background-image: linear-gradient(to top, #984141, #FF8088);
}

.read6 {
    background-color: #984141;
}